::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

#home {
	padding-top: 5rem;
}

/* gambar di section home */
.home-img {
	width: 500px;
	height: 300px;
}

.text-green {
	color: green;
}

.bg-green {
	background-color: green;
}

.card {
	transition: all 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
	box-shadow: 1px 1px 20px rgb(10, 230, 10) !important;
}

@media (max-width: 468px) {
	/* Navbar */
	.navbar-nav {
		margin-top: 0.5rem;
	}

	.nav-item .nav-link {
		padding: 0.5rem;
	}

	/* home */
	.home-img {
		display: block;
		width: 90%;
		height: 250px;
		margin: 2rem auto;
	}

	#home {
		font-size: 85%;
		padding: 0 1rem;
	}


	/* about */
	#About {
		padding: 0 1rem;
	}

	.media-sosial a i {
		font-size: 40px;
	}

	/* Course */
	.card {
		margin: 1rem auto;
		width: 18rem;
	}

	/* footer */
	footer {
		text-align: center;
	}

	footer p {
		text-align: center;
	}
}